@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

/************************* body  ************************/

body
{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	
}
/************************* header  ************************/

header
{
	width: 100%;

}

header section 
{
	background-color: #1C2331; 
	color: white;
}
header section p,.les_menu,.suscribe,.barderecherche
{
		display: inline-block;
}
header section .les_menu
{
	margin-left:63%;
}

header section p
{
	margin-left:6%;
}

header section .les_menu .menu
{
	display: inline-block;
	margin-left: 15px;
}
header section .les_menu .menu  span
{
	color: red;
}
header section .les_menu 
{
	font-size: 14px;
}


header section
{
	padding-bottom: 0px
}

header #section1
{
	border-bottom: 4px solid #00c851;
}
.taille
{
	height: 2em;
	width:  16em;
}
.tailleb
{
	color: white;
	background-color: red;
	height: 2.5em;
	width: 7em;
}

header  #section1 p span
{
	color: red;
}

header  section p a,header  section div a,.contenu .bloc-2  .Suscribe a
{
	text-decoration: none;
	color: white;	
}


/************************* milieu  ************************/
   
   /********************* bloc1  ********************/

.contenu  .bloc-1 div
{
	position: relative;
	bottom:300px;
	margin:0px 300px;
	color: white;
}


.contenu  .bloc-1
{
	
	height: 400px;
}
.contenu  .bloc-1 img
{
	height: 400px;
	width: 100%;
}


   /********************* bloc2  ********************/
.contenu  .bloc-2 div
{
	display: inline-block;
}

.contenu .bloc-2  
{
	background-color: #1C2331; 
	padding-top: px;
 
	
}
.contenu .bloc-2  .Suscribe
{
	margin-left: 100px;
	margin-right: ;
	}
.contenu  .bloc-2 .barderecherche
{
	margin-left: 45%;
}
.contenu .bloc-2  .Suscribe,.contenu  .bloc-2 .barderecherche
{
	padding-top:30px;
	padding-bottom:20px;
	
}
   /********************* bloc3  ********************/


.contenu  .bloc-3 .element
{
	float: left;
	margin-left: 220px;
}
  /************** images  *************/
.contenu  .element  img
{
	height: 150px;
}
/************************* footer  ************************/

footer
{
	clear: both;
	background-color: red;
	color: white;
	text-align: center;
	padding-bottom: 30px;
	
	
}
footer p
{
	margin: 0;
	padding-top: 30px;
}




