@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

body
{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	
}
header
{
	width: 100%;

}

header section 
{
	background-color: #1C2331; 
	color: white;
}
header section p,.les_menu,.suscribe,.barderecherche
{
		display: inline-block;
}
header section .les_menu,.barderecherche
{
	margin-left:63%;
}
header section p,.suscribe
{
	margin-left:6%;
}
header section .les_menu .menu
{
	display: inline-block;
	margin-left: 15px;
}
header section .les_menu .menu  span
{
	color: red;
}
header section .les_menu 
{
	font-size: 14px;
}

header section .barderecherche
{
	margin-left:51%;
}

header section
{
	padding-bottom: 0px
}

header #section1
{
	border-bottom: 4px solid #00c851;
}
header #section2
{
	padding: 14px 0
}
.taille
{
	height: 2em;
	width:  16em;
}
.tailleb
{
	color: white;
	background-color: red;
	height: 2.5em;
	width: 7em;
}

header  #section1 p span
{
	color: red;
}

header  section p a,header  section div a
{
	text-decoration: none;
	color: white;	
}











