@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

body
{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	
}
header
{
	width: 100%;

}

header section 
{
	background-color: #1C2331; 
	color: white;
}
header section p,.les_menu,.suscribe,.barderecherche
{
		display: inline-block;
}
header section .les_menu
{
	margin-left:63%;
}

header section p,.suscribe
{
	margin-left:6%;
}
header section .les_menu .menu
{
	display: inline-block;
	margin-left: 15px;
}
header section .les_menu .menu  span
{
	color: red;
}
header section .les_menu 
{
	font-size: 14px;
}

header section .barderecherche
{
	margin-left:51%;
}

header section
{
	padding-bottom: 0px
}

header #section1
{
	border-bottom: 4px solid #00c851;
}
header #section2
{
	padding: 14px 0
}
.taille
{
	height: 2em;
	width:  16em;
}
.tailleb
{
	color: white;
	background-color: red;
	height: 2.5em;
	width: 7em;
}

header  #section1 p span
{
	color: red;
}

header  section p a,header  section div a
{
	text-decoration: none;
	color: white;	
}


/************************* milieu  ************************/

.contenu .milieu,.droit
{
	
	display: inline-block;
	
	
}
.contenu .milieu
{
	
	width: 55%;
	float: left;
	margin-left: 6%
	
}
.contenu .droit
{
	
	background-color: #1C2331;
	width: 22%;
	float: right;
	margin-right: 9%;
	
	
}

.contenu .milieu .milieu1,.milieu3,.milieu2
{

	padding-left: 40px;
	
}
.contenu .milieu .milieu1,.milieu3
{
	background-color: #e0f7fa;

	
}
.contenu .milieu .milieu2
{
	background-color: #1C2331; 
	color: white;
	margin-bottom: 15px;

	
}
.contenu .milieu div p,h2
{
	margin-bottom: 0px;
}
.contenu .milieu  h1
{
	margin:15px 0px;
	font-size:20px;
}
.contenu .milieu 
{
	margin-bottom: 50px;
}
.contenu .milieu div h2
{
	padding-top: 35px;
	margin:6px 0px;
	font-size:20px;
}

.contenu .droit h2
{
	padding: 6px 15px;
	margin: 4px 0px
}
.contenu .droit
{
  margin-top: 25px;
	color:white;
}


footer
{
	clear: both;
	background-color: red;
	color: white;
	text-align: center;
	padding-bottom: 30px;
	
	
}
footer p
{
	margin: 0;
	padding-top: 30px;
}




